<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application de Recrutement</title>
    <style>
        body {
            text-align: center;
            margin-top: 20%;
        }
        h1 {
            color: red; /* Couleur rouge */
            font-size: 48px; /* Taille de police plus grande */
        }
    </style>
</head>
<body>
    <h1>Bienvenue dans l'application de recrutement automatique !</h1>
</body>
</html>
